* {
	margin:0;
	padding:0;
	outline:none;
	border:none;
	color:#333;
}
body {
	font-size:12px;
	line-height:20px;
	padding:30px 0;
	text-align:center;	
	font-family:Arial,Verdana,Sans-serif;
}
#wrapper {
	width:445px;
	margin:0 auto;
	text-align:left;
}
.button {
	line-height: 1em;
	padding: 3px 15px 2px 15px;
	border: solid 1px #076bbc;
	background: url(/images/button.png) repeat-x 0 0;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	float: left;
	display: block;
}
.field {
	padding: 3px;
	margin-right: 2px;
	width: 200px;
	border: solid 1px #aaa;
	float: left;
}
form,.tbl_repeat {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
th,td {
	text-align: left;
	vertical-align: top;
	padding: 3px 10px;
}
.tar {
	text-align: right;
}
.tbl_repeat th {
	background: #eee;
}
.tbl_repeat td {
	border-bottom: dashed 1px #aaa;
}
tr.active td {
	background: #c2e3eb;
}